
.urlinput{
	width:100%;
	}

.urlinput:hover{
	border:double;
	}

div.btnsubmit input {
	background:url(../images/feedme.jpg) no-repeat;
	background-position: 20px 0;
	cursor:pointer;
	width: 250px;
	height: 220px;
	border: single;
}

div.btnsubmit input:hover{
	background:url(../images/clickhere.jpg) no-repeat;
	text-indent: -99999px;
	background-position: -15px 5px;
	border: double;
}

#feed{
position:relative;
float:left;
}

input{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	}

h3{
	font-size:30px;
	color:red;
}

#newsfeedresult div{
	position:relative;
	float:left;
	width:80%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#newsfeedresult h4{
	display: inline-block;	
	float:clear;	
	font-size:20px;
	color:blue;
}

#newsfeedresult a{
	display: inline-block;	
	font-size:40px;
}

#newsfeedresult a:hover{
	color:purple;
}


.thumbnail{
	display: inline-block;	
	float:left;	
	width:100px;
}

.fullsize{
	float:right;
	width:400px;
}


