<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- TODO Add new news feed section here-->
    <!-- TODO Add new news feed section here-->
    <!-- TODO Add new news feed section here-->
    <!-- TODO Add new news feed section here-->
    <sectionGroup name="BackendService">
      <section name="Newsfeed" type="backendservice.BackendServiceConfigurationManager, Backend" />
    </sectionGroup>
  </configSections>

  <BackendService>
    <Newsfeed>
      <PortNumber>8080</PortNumber>
    </Newsfeed>
  </BackendService>

  <appSettings>
    <add key="Uri" value="http://cetrea.dk/proxy/"/>
    <add key="PortNumber" value="8080"/>
  </appSettings>

</configuration>